/*
*
*/
:root {
  --background-color-app: #002DFF ;
}
/*  */
#waiboc-widget-main .rcw-messages-container {
  height: 70vh ;
  max-height: 550px ;
}
#waiboc-widget-main .rcw-message {
  font-size: 17px !important ;
  transition: color 0.4s ease-in, background-color 0.4s ease-in ;
}
#waiboc-widget-main .rcw-new-message {
  transition: background 1s ease;
}
#waiboc-widget-main .rcw-new-message:disabled {
  background: #dddddd !important ;
}
#waiboc-widget-main .rcw-send {
  background: #f4f7f9 !important ;
  border: 0 !important ;
}
#waiboc-widget-main .rcw-send .rcw-send-icon {
  height: 25px !important ;
}
/*    */
#waiboc-widget-main .rcw-widget-container {
    z-index: 99999 !important ;
    max-width: 450px !important ;
    display: inline-block ;
}
#waiboc-widget-main .rcw-open-launcher:hover {
  cursor: pointer !important ;
}
#waiboc-widget-main .rcw-message .ant-tag {
  transition: box-shadow 0.6s !important ;
  font-size: 18px !important;
  font-weight: 500 !important;
  padding: 5px 10px 5px 10px !important;
  border-radius: 9px !important;
  cursor: pointer !important ;
}
#waiboc-widget-main .rcw-message .ant-tag:hover {
  box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important ;
  /* border-bottom: 0.5px dotted grey !important ; */
}
/*  */
@media (max-width: 375px) {
  #waiboc-widget-main .rcw-widget-container {
    max-width: 375px !important ;
  }
}
/*  */
#waiboc-widget-main .ant-carousel .slick-slide {
  text-align: center !important ;
  min-height: 160px !important ;
  /*
  line-height: 160px !important ;
  */
  /* background: #364d79 !important ; */
  overflow: hidden !important ;
}
#waiboc-widget-main .ant-carousel .slick-slide h3 {
  color: #fff !important ;
}
/*  */
#waiboc-widget-main .waiboc-msg-carousel {
  width: 380px ;
}
#waiboc-widget-main .waiboc-msg-carousel .waiboc-arrow {
  z-index: 9999 ;
  font-size: 30px ;
  position: relative ;
  color: white ;
  opacity: 0.5 ;
  top: 90px !important ;
}
#waiboc-widget-main .waiboc-msg-carousel .waiboc-arrow:hover {
  opacity: 1 !important ;
}
#waiboc-widget-main .waiboc-msg-carousel i.waiboc-arrow.waiboc-arrow-left {
  left: 10px  !important ;
}
#waiboc-widget-main .waiboc-msg-carousel i.waiboc-arrow.waiboc-arrow-right {
  right: -310px !important ;
}
#waiboc-widget-main .rcw-conversation-container .rcw-header {
  background-color: var(--background-color-app) ;
}
#waiboc-widget-main .rcw-conversation-container .rcw-header h4 {
  font-size: 30px ;
  line-height: 35px ;
  font-weight: 600 ;
}
#waiboc-widget-main .rcw-conversation-container .rcw-header span {
  font-size: 20px ;
  line-height: 25px ;
  font-weight: 500 ;
}
#waiboc-widget-main .rcw-launcher {
  background-color: var(--background-color-app) ;
}
.waiboc-launcher {
  transition: box-shadow 0.6s !important ;
  background-color: transparent ;
  border: none ;
}
/*
.waiboc-launcher:hover {
  box-shadow: 0 0 5px #002DFF ;
}
*/
.waiboc-btn-launcher {
  width: 10% ;
  float: right ;
  display: block ;
}
.waiboc-btn-launcher button {
  transition: all 0.6s !important ;
  width: 70px ;
  height: 70px ;
  border-radius: 50px ;
  cursor: pointer ;
  margin-top: 10px ;
  float: right ;
  right: 0 ;
  border: none ;
  background-color: transparent ;
  padding: 0 ;
  /* border: 2px solid #002DFF ; */
  /* padding: 10px 10px 10px 10px ; */
}
.waiboc-btn-launcher button:hover {
  /* box-shadow: 0 0 3px gray; */
  box-shadow: 1px 0px 13px 11px #BFC0C1;;
  /* border: 2px solid #002DFF ; */
  /*
  border-bottom-color: #002DFF ;
  border-right-color: #002DFF ;
  */
}
.waiboc-btn-launcher img {
  border: none ;
  background-color: transparent ;
}
.waiboc-chat-response-bot {
  max-width: 80% ;
  margin-left: 2.5% ;
}
.waiboc-widget-message-bot {
  background-color: #E0E6E5 ;
  border-radius: 10px ;
  margin: 4px ;
  padding: 8px ;
}
.waiboc-widget-message-bot.left-chat {
  /*
  background: aqua !important;
  min-width: 45% !important;
  padding: 10px 15px !important;
  border-radius: 6px !important;
  border: 1px solid #ccc !important;
  float: right !important ;
  */
  text-align: left !important;
}
.waiboc-widget-message-bot.left-chat::before {
  content: '' !important ;
  position: absolute !important ;
  visibility: visible !important ;
  top: -1px !important ;
  left: -10px !important ;
  border: 10px solid transparent !important ;
  border-top: 10px /* solid #ccc !important */ ;
}

.waiboc-widget-message-bot.left-chat::after {
  content: '';
  position: absolute !important ;
  visibility: visible !important ;
  top: 0px !important ;
  left: -8px !important ;
  border: 10px solid transparent !important ;
  border-top: 10px /* solid aqua !important */ ;
  clear: both !important ;
}

/*  */
@media (max-width: 375px) {
  .waiboc-chat-response-bot {
    max-width: 95% ;
    margin-left: 2.5% ;
  }
  #waiboc-widget-main .waiboc-msg-carousel {
    width: 330px ;
  }
  #waiboc-widget-main .waiboc-msg-carousel i.waiboc-arrow.waiboc-arrow-right {
    right: -260px !important ;
  }
  #waiboc-widget-main form.rcw-sender input {
    width: 80% ;
    line-height: 22px ;
    font-size: 18px ;
  }
  #waiboc-widget-main form.rcw-sender button {
    width: 15% ;
    cursor: pointer ;
  }
  #waiboc-widget-main .rcw-conversation-container .rcw-close-button {
    background-color: inherit ;
    border-radius: 50px;
    border: 2px solid white;
    padding: 7px 7px 7px 7px;
    cursor: pointer ;
  }
}
/*  */