/*
*
*/
#WaibocWidgetMain .rcw-message {
  font-size: 17px !important ;
  transition: color 0.4s ease-in, background-color 0.4s ease-in; 
}
#WaibocWidgetMain .rcw-new-message:disabled {
  background: #dddddd !important ;
}
#WaibocWidgetMain .rcw-send {
  background: #f4f7f9 !important ;
  border: 0 !important ;
}
#WaibocWidgetMain .rcw-send .rcw-send-icon {
  height: 25px !important ;
}
/*    */
#WaibocWidgetMain .rcw-widget-container {
    z-index: 9999 !important ;
    max-width: 450px !important ;
}
#WaibocWidgetMain .rcw-open-launcher:hover {
  cursor: pointer !important ;
}
#WaibocWidgetMain .rcw-message .ant-tag {
  transition: box-shadow 0.6s !important ;
  font-size: 18px !important;
  font-weight: 500 !important;
  padding: 5px 10px 5px 10px !important;
  border-radius: 9px !important;
  cursor: pointer !important ;
}
#WaibocWidgetMain .rcw-message .ant-tag:hover {
  box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important ;
  /* border-bottom: 0.5px dotted grey !important ; */
}
/*  */
@media (max-width: 375px) {
  #WaibocWidgetMain .rcw-widget-container {
    max-width: 375px !important ;
  }
}
/*  */
#WaibocWidgetMain .ant-carousel .slick-slide {
  text-align: center !important ;
  height: 160px !important ;
  line-height: 160px !important ;
  background: #364d79 !important ;
  overflow: hidden !important ;
}
#WaibocWidgetMain .ant-carousel .slick-slide h3 {
  color: #fff !important ;
}
/*  */
#WaibocWidgetMain .waiboc-msg-carousel {
  width: 380px ;
}
#WaibocWidgetMain .waiboc-msg-carousel .waiboc-arrow {
  z-index: 9999 ;
  font-size: 30px ;
  position: relative ;
  color: white ;
  opacity: 0.5 ;
  top: 90px !important ;
}
#WaibocWidgetMain .waiboc-msg-carousel .waiboc-arrow:hover {
  opacity: 1 !important ;
}
#WaibocWidgetMain .waiboc-msg-carousel i.waiboc-arrow.waiboc-arrow-left {
  left: 10px  !important ;
}
#WaibocWidgetMain .waiboc-msg-carousel i.waiboc-arrow.waiboc-arrow-right {
  right: -310px !important ;
}
/*  */
@media (max-width: 375px) {
  #WaibocWidgetMain .waiboc-msg-carousel {
    width: 330px ;
  }
  #WaibocWidgetMain .waiboc-msg-carousel i.waiboc-arrow.waiboc-arrow-right {
    right: -260px !important ;
  }
}
/*  */